div.mx_env_row div.mx_env_cell {
	height: 9px;
	width: 9px;
	border-bottom: 1px solid limegreen;
	border-right: 1px solid limegreen;
	display: inline-block;
}

div.character_holder {
	position: absolute;
	left: 10px;
	top: 10px;
	border: 1px dotted transparent;
	z-index: 1;
	background-color: transparent;
}

div.character_holder .character_piece {
	position: absolute;
	height: 4px;
	width: 4px;
	background-color: red;
}
