/* ----------------------------------------------------------------------
 * basic styles
 * ---------------------------------------------------------------------- */

body {
	overflow: hidden;
}

div#mx_main {
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}

div#mx_viewport {
	padding-top: 80px;
	padding-left: 130px;
}

/* ----------------------------------------------------------------------
 * character elements
 * ---------------------------------------------------------------------- */

body.true div.mx_character {
	position: absolute;
	left: 11px;
	top: 11px;
	border: 1px dotted red;
	z-index: 1;
	background-color: transparent;
}

body.false div.mx_character {
	position: absolute;
	left: 11px;
	top: 11px;
	border: 1px dotted transparent;
	z-index: 1;
	background-color: transparent;
}

div.mx_character .mx_character_body_part {
	position: absolute;
	border-right: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: red;
}

/* ----------------------------------------------------------------------
 * output div
 * ---------------------------------------------------------------------- */

body.false .debugging {
	display: none;
}

div#mx_graph {
	bottom: 235px;
	height: 60px;
	max-height: 60px;
}

div#mx_info {
	bottom: 190px;
}

div.mx_output_query {
	-webkit-user-select: none;
	box-shadow: rgba(0, 0, 0, 0.199219) 2px 2px 4px;
	position: fixed;
	right: 10px;
	border: 1px solid #C8C8C8;
	font: 12px Arial;
	cursor: default;
	padding: 10px;
	background-color: white;
	z-index: 1000;
}

div.mx_output_query span.mx_output_query_title_title {
	font-weight: 900;
	padding-right: 10px;
}

span#mx_output_query_graph {
	height: 60px;
	width: 524px;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

div.mx_output_query span.mx_output_query_data {
	width: 40px !important;
	display: inline-block;
	color: blue;
	font-weight: 900;
}

div.mx_output_query span.mx_output_query_data {
	padding-left: 5px;
	padding-right: 9px;
}

div.mx_out_holder {
	-webkit-user-select: none;
	box-shadow: rgba(0, 0, 0, 0.199219) 2px 2px 4px;
	position: fixed;
	right: 10px;
	top: 10px;
	border: 1px solid #C8C8C8;
	height: 180px;
	min-width: 423px;
	max-width: 423px;
	font: 12px Arial;
	cursor: default;
	padding: 10px;
	background-color: white;
	z-index: 1000;
}

div.mx_out {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	white-space: nowrap;
}

/* ----------------------------------------------------------------------
 * frame/menu styles
 * ---------------------------------------------------------------------- */

.Frame_menu_trigger_node {
	padding: 4px 19px;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #333;
	cursor: default;
	border: 1px solid #C8C8C8;
	display: inline-block;
	background-color: white;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}

div.Frame_menu_master {
	padding: 4px 0px;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #333;
	cursor: default;
	border: 1px solid #C8C8C8;
	display: inline-block;
	background-color: white;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    -moz-user-select: none;
    -webkit-user-select: none;
}

div.Frame_menu_item {
	padding: 2px 35px 2px 20px;
	margin: 2px 0px;
}

div.Frame_menu_item.hovering, div.Frame_menu_item:hover {
	background-color: #E8E8E8;
	cursor: pointer;
}

div.Frame_menu_separator_item {
	border-top: 1px solid #E0E0E0;
	margin: 5px 0px 3px 0px;
}

div.Frame_menu_help_text {
	font-style: italic;
	padding: 4px 20px 3px 20px;
	margin: 2px 0px;
	color: #777;
}

div.Frame_menu_item span.Frame_menu_submenu_arrow {
	display: inline-block;
	font: 10px Arial;
	font-weight: 900;
	text-align: right;
	right: 11px;
	position: relative;
	margin-top: 3px;
}

input.search {
	outline: 0px;
	border: 1px solid gray;
}

div.Suggestion_holder {
	cursor: default;
	box-shadow: 1px 2px 8px #666;
	background-color: white;
}

div.Suggestion_item {
	font: 12px Arial;
    -moz-user-select: none;
    -webkit-user-select: none;
	padding: 3px 5px;
	overflow: hidden;
	white-space: pre;
}

div.Suggestion_item:hover {
	background-color: #EBEBEB;
}

.Frame_menu_button {
	border: 1px solid #C8C8C8;
	background-color: white;
	padding: 6px 9px;
	cursor: pointer;
}
