div#mx_out {
	/* border: 1px solid black; */
	/* height: 200px; */
	/*background: url('/admin/images/loader/loader-medium.gif') no-repeat white 50% 25px;*/
	cursor: default;
	margin: 20px auto;
	width: 380px;
	padding: 0px 30px 10px 70px;
	font: 900 12px monospace;
	position: absolute;
	top: -10px;
	left: -56px;
	height: 90%;
	overflow-y: hidden;
}

span.mx_test_case_pass {
	color: green;
}

span.mx_test_case_fail {
	color: red;
}

span.mx_load_complete {
	color: blue;
}

div#mx_viewport {
	/* border: 1px solid limegreen; */
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 99.5%;
	width: 99.9%;
}

div#mx_master {
	position: absolute;
	/* top: -100px;
	left: -100px;
	height: 2500px;
	width: 2500px; */
	-webkit-user-select: none;
	overflow: hidden;
	padding-top: 15px;
	padding-left: 15px;
}

div.blank {
	border: 1px solid white !important;
}

div.enviroment_grass {
	background: black url('../mx_images/enviroment/grass.jpg') no-repeat right top;
}

div.enviroment_empty {
	/* border: 1px solid white !important; */
}

div.mx_vp_row {
	/* text-align: center; */
}

div[mx_type="enviroment"]:hover:not(.blank) {
	background: black url('../mx_images/enviroment/empty.png') no-repeat right top;
	opacity: 0.2;
	border: 1px solid black;
}

div[mx_type="enviroment"] {
	-webkit-transform: matrix(1, 0, 1, 0.3, 0, 0);
	-moz-transform: matrix(1, 0, 1, 0.3, 0, 0);
	display: inline-block;
	position: relative;
	margin-top: -29px;
	height: 40px;
	width: 40px;
	border: 1px solid blue;
}









/* custom components */
#timer_component {
	/* position: absolute; */
	width: 100px;
	text-align: center;
	font: 13px Arial;
	padding: 5px 19px;
	color: #333;
	cursor: pointer;
	border: 1px solid #C8C8C8;
	display: inline-block;
	background-color: white;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	-moz-user-select: none;
	-webkit-user-select: none;
}

#timer_component.running_true {
	color: red;
}


.location_component_selected {
	background-color: salmon;
}


.panel_component_father {
	z-index: 100000;
	left: 10px;
	position: absolute;
	top: 10px;
	font: 13px Arial;
	padding: 11px 14px;
	color: #333;
	cursor: default;
	/* border: 1px solid #C8C8C8; */
	display: inline-block;
	background-color: white;
	/* box-shadow: -2px 2px 4px rgba(0,0,0,0.2); */
	-moz-user-select: none;
	-webkit-user-select: none;
	width: 150px;
	outline: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 90%;
	background-color: transparent;
}

.panel_component_father center {
	position: absolute;
}

.panel_component_child {
	background-color: white;
	border: 1px solid #C8C8C8;
	padding: 5px 4px;
	/* border-top-width: 4px;
	border-top-color: salmon; */
	margin-top: 10px;
	overflow: auto;
	width: 130px;
	text-align: left;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.panel_component_child_button {
	cursor: pointer;
	text-align: center;
}

#threeD_component_holder {
	padding-top: 50px;
	text-align: center;
	vertical-align: middle;
}

