.underground {
	background-color: transparent !important;
	border-bottom: 1px solid transparent !important;
	border-right: 1px solid transparent !important;
	background: url(mx_images/enviroment/underground.jpg) 19%;
}

.rock {
	background-color: transparent !important;
	border-bottom: 1px solid transparent !important;
	border-right: 1px solid transparent !important;
	background: url(mx_images/enviroment/rock.jpg) 5%;
}

.sky {
	background-color: #d3dfef !important;
	border-bottom: 1px solid #d3dfef !important;
	border-right: 1px solid #d3dfef !important;
}

.mountain {
	background-color: black !important;
	border-bottom: 1px solid black !important;
	border-right: 1px solid black !important;
}
